mixin background-icon(name, text, link)
	a(id="#{name}-background-img", class="background-img", href=link)
		div(class="work-select-panel-text")&attributes(attributes) #{text}

mixin work-title(title)
	div(class="work-title")
		h4 #{title}

mixin work-back-button(name)
	a(href="#work-anchor")
		div(id="#{name}-back")
			i(class="fa fa-arrow-left fa-3x")

div(id="work-anchor")
section(id="work")

	//Control Panel
	div(id="work-select")
		div(class="work-title")
			h1 Work
			hr(class="logo-sep")
		div(class="work-select-panel")
			+background-icon("square", "Square", "#work-anchor")
			+background-icon("yahoo", "Yahoo", "#work-anchor")
			+background-icon("ibm", "IBM", "#work-anchor")

			+background-icon("clinch", "Clinch","http://www.clinchbasketball.com")
			+background-icon("deepcraft", "Deepcraft", "https://github.com/mdimarco/DeepCraft/blob/master/DeepCraft%20Presentation.pdf")
			+background-icon("gendid", "Gender Guesser", "https://github.com/mdimarco/blog_gender_identification")(class="work-select-panel-text-2lines")

	//Square
	div(id="square")
		+work-back-button("square")
		img(class="logo", src="images/square.png")
		+work-title("Solutions Engineering Intern (Summer 2015)")

		div(id="register-content", class="work-content work-content-square")
			div(class="work-icon")
				i(class="fa fa-android fa-3x")
			h3 Register API
			div(class="work-text-container")
				p 
					| Created an API within Square's Android Register app, which allows merchants with their 
					| own native/web applications to utilize Square, unblocking an estimated $20M in GPV
		div(id="largesellers-content", class="work-content work-content-square")
			div(class="work-icon")
				i(class="fa fa-briefcase fa-3x")
			h3 Large Sellers
			div(class="work-text-container")
				p 
					| Lead meetings with external customers detailing technical solutions Square could provide to mid/large size merchants, from API integrations to potential custom software solutions
		div(id="hackweek-content", class="work-content work-content-square")
			div(class="work-icon")
				i(class="fa fa-usb fa-3x")
			h3 Hackweek
			div(class="work-text-container")
				p 
					| Created and deployed a hierarchical company org chart using D3.js. Directed a Square 
					| Interns Summer 2015 music video
		
	
	//Yahoo
	div(id="yahoo")
		+work-back-button("yahoo")
		img(class="logo", src="images/yahoo_logo.svg")
		+work-title("Cloud Services Intern (Summer 2014)")
	
		div(class="work-content")
			div(class="work-icon")
				i(class="fa fa-globe fa-3x")
			h3 YWorld
			div(class="work-text-container")
				p 
					| Created world map visualization of interdatacenter traffic for Yahoo Network Operations. 
					| Displayed realtime gridbased data of latency and packet loss using Node.js, NPM, and D3.js 
					| deployed on internal virtual machines
		div(class="work-content")
			div(class="work-icon")
				i(class="fa fa-book fa-3x")
			h3 IPython Notebooks
			div(class="work-text-container")
				p 
					| Created proof of concept collaborative environment for dashboarding, and adhoc data 
					| analysis of production monitoring data using Python, matplotlib, OpenTSDB, and bash
		

	//IBM
	div(id="ibm")
		+work-back-button("ibm")
		img(class="logo", src="images/ibm.png")
		+work-title("High Performance Computing Intern (Summer 2013)")
	
		div(class="work-content")
			div(class="work-icon")
				i(class="fa fa-line-chart fa-3x")
			h3 Cost Analysis Tool
			div(class="work-text-container")
				p 
					| Wrote services in IBM's XCAT, Perl, and Python that monitored and graphed power consumption 
					| of the p775 series supercomputer in an easy to view dashboard
		div(class="work-content")
			div(class="work-icon")
				i(class="fa fa-flask fa-3x")
			h3 IO Tech Lab
			div(class="work-text-container")
				p 
					| Wrote scripts for power management, network connections, and big data 
					| analytics on power readings of the p775 supercomputer, as well as IO hardware
		

	//Clinch
	div(id="clinch")
		+work-back-button("clinch")
	//Deepcraft
	div(id="deepcraft")
		+work-back-button("deepcraft")
	div(id="gendid")
		+work-back-button("gendid")